@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

body {
  background-color: #090909;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.avatar {
  position: relative;
  width: 350px;
  border-radius: 28px;
}

.avatar img {
  width: 100%;
}

.ph-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: -12px;
  margin-top: -10px;
}

.ph-info img {
  height: 40px;
}

.ph-info-text {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: -3px;
}

.avatar .peepoClown {
  position: absolute;
  width: 155px;
  height: 212px;
  top: 41px;
  left: 102px;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0);
  object-fit: contain;
}

.avatar:hover .peepoClown {
  transform: scale(1, 1.2);
}

.info {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.about {
  display: flex;
  margin-top: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.bg-red {
  background-color: #ff0004d3;
  color: #333;
}

.bg-orange {
  background-color: #fbeb5ddc;
  color: #333;
}

.bg-gray {
  background-color: #f3f3f3;
  color: #333;
}

.card {
  padding: 15px 20px;
  border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.card h1,
.card h2,
.card h3,
.card h4 {
  text-align: center;
  margin-bottom: 15px;
}

.card li {
  margin-bottom: 5px;
  transition: all 0.2s ease-in;
  cursor: default;
  width: fit-content;
}

.card li:hover {
  transform: translateX(7px);
}

.quotes li {
  font-style: italic;
}

.about li {
  margin-bottom: 2px;
  font-size: 0.9em;
}

.info-text {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.summoners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  perspective: 1000px;
  padding: 30px 10px;
  background-color: #222;
}

.summoners .title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.summoners .heroes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summoner {
  position: relative;
  width: 250px;
  height: 250px;
  background-image: url("./images/ld-main.jpeg");
  background-size: cover;
  background-position: -100px center;
  transition: rotate .5s ease-out, box-shadow .5s ease-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  transform-style: preserve-3d;
}

.summoner::before  {
  content: "";
  position: absolute;  
  inset: 0;
  background-image: radial-gradient(circle 250px, transparent  25%, black 70%);
  transition: opacity .5s linear;
  opacity: 0;
}

.summoner:hover {
  rotate: x 35deg;
  box-shadow: 0 40px 15px -15px rgba(0, 0, 0, 1);
}

.summoner:hover .appear-img {
  opacity: 1;
  translate: 0 -20px;
  rotate: x -35deg;
}

.summoner:hover .text-img {
  translate: 0 -20px;
  rotate: x -35deg;
  opacity: 1;
  transition: opacity .5s .4s ease-out, rotate .5s ease-out, translate .5s .4s ease-out;
}

.appear-img {
  position: absolute;
  bottom: 30px;
  width: 100%;
  opacity: 0;
  rotate: x 0deg;
  translate: 0 40px;
  transform: translateZ(100px);
  transition: opacity .5s ease-out, rotate .5s ease-out, translate .5s ease-out;
}

.summoner:hover::before {
  opacity: 1;
  transition: opacity .3s .2s linear;
}

.text-img {
  position: absolute;
  width: 70%;
  left: 15%;
  bottom: 0;
  rotate: x 0deg;
  opacity: 0;
  translate: 0 0;
  transform: translateZ(100px);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  letter-spacing: 3px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  text-shadow: 0px 0px 12px rgba(255,255,255,0.93);
  transition: opacity .5s ease-out, rotate .5s ease-out, translate .5s ease-out;
}

.credits {
  margin: 80px auto 0;
  font-size: 0.85em;
}

.credits a:visited,
.credits a:active,
.credits a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}

.info-text h1 a:active,
.info-text h1 a:focus,
.info-text h1 a:visited,
.info-text h1 a {
  color: #fff;
  text-decoration: none;
}

.info-text h1 a:hover {
  color: #aaa;
  transition: all 0.3s ease;
}
