@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
  background-color: #090909;
  color: white;
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.info-card {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, .2);
}

.page-bg {
  position: absolute;
  inset: 0;
  width: 100vw;
  z-index: -1;
}

.page-bg img {
  box-shadow: 0 0 5px rgba(200, 200, 200, .1);
}

.page-bg .img-block {
  filter: blur(1000px);
}

.avatar {
  position: relative;
  width: 236px;
  height: 236px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper {
  margin-left: 20px;
}

.avatar::before {
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background-image: radial-gradient( circle farthest-corner at 0% 50%,  rgb(22, 18, 67) 0%, rgb(52, 12, 75) 90% );
  position: absolute;
  z-index: 5;
  border-radius: 50%;
}

.avatar img {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  left: 3px;
  top: 3.5px;
  object-fit: cover;
  z-index: 10;
  border-radius: 50%;
}

.avatar .peepoClown {
  position: absolute;
  width: 155px;
  top: 0px;
  left: 35px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  object-fit: contain;
  z-index: 1000;
  transform: scale(1, 1.3);
  transition: opacity 2s ease;
}

.avatar:hover .peepoClown {
  opacity: 1;
}

.info {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
}

.info-title {
  font-size: 26px;
  letter-spacing: 2px;
  color: #ddd;
  margin-top: 20px;
}

.info-subtitle {
  font-size: 16px;
  margin-bottom: 35px;
  margin-left: 2px;
  color: rgba(255, 255, 255, .7);
  font-weight: 300;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
}

.main-info .list-item {
  margin-bottom: 20px;
  font-size: 1.15em;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
}

.main-info .list-item-title {
  font-size: 0.75em;
  color: rgba(255, 255, 255, .5);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.main-info .list-item-data {
  padding-left: 3px;
  color: rgba(255, 255, 255, .8);
}

.socials {
  display: flex;
  align-items: center;
}

.socials .list-item-title {
  margin-bottom: 0;
}

.socials a {
  margin-right: 14px;
  transition: color .2s ease-out, opacity .2s ease-out, filter .2s ease-out;
  opacity: .6;
  color: #fff;
}

.socials a:hover {
  opacity: 1;
}

.socials a.twitch {
  font-size: 26px;
  transform: scale(1.3, 1.1);
}

.socials a.vk {
  font-size: 32px;
  transform: scale(1.2, 1.05);
  position: relative;
  bottom: 1px;
}

.socials a.ph img {
  transform: scale(1.8);
  height: 100%;
  filter: grayscale(100%);
  transition: filter .6s ease-out;
}

.socials a.ph {
  height: 26px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  bottom: 2px;
}

.socials a.youtube {
  font-size: 34px;
  transform: scale(1, 1.15);
}

.socials a.tg {
  font-size: 30px;
  position: relative;
  bottom: 1px;
}

.socials a.tg:hover {
  color: #229ED9;
}

.socials a.youtube:hover {
  color: #CD201F;
}

.socials a.vk:hover {
  color: #0077FF;
}

.socials a.twitch:hover {
  color: #9146FF;
}

.socials a.ph:hover img {
  filter: grayscale(0);
}

.details {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.summoners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 1000px;
}

.summoners .title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.summoners .heroes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summoner {
  position: relative;
  width: 250px;
  height: 320px;
  background-size: cover;
  background-position: -130px center;
  transition: rotate .5s ease-out, box-shadow .5s ease-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  transform-style: preserve-3d;
  margin: 10px;
}

.summoner.lone-druid {
  background-image: url("../images/lone-druid-bg.jpeg");
}

.summoner.lycan {
  background-image: url("../images/lycan-bg.png");
}

.summoner.visage {
  background-image: url("../images/visage-bg.png");
  background-position: -30px center;
}

.summoner.lycan .appear-img {
  scale: 1.2 1.4;
}

.summoner.lone-druid .appear-img {
  scale: 1.2 1.2;
}

.summoner.visage .appear-img {
  scale: 1.3 1.6;
  translate: 20px 40px;
}

.summoner.visage:hover .appear-img {
  translate: 20px -90px;
}

.summoner::before  {
  content: "";
  position: absolute;  
  inset: 0;
  background-image: radial-gradient(circle 250px, transparent  25%, black 80%);
  transition: opacity .5s linear;
  opacity: 0;
}

.summoner:hover {
  rotate: 1 0 0 30deg;
  box-shadow: 0 40px 15px -15px rgba(0, 0, 0, 1);
}

.summoner:hover .appear-img {
  opacity: 1;
  translate: 0 -45px;
  rotate: x -30deg;
}

.summoner:hover .text-img {
  translate: 0 -35px;
  rotate: x -45deg;
  scale: 1.1  ;
  opacity: 1;
  text-shadow: 0px 0px 12px rgba(255,255,255,0.93);
  transition: opacity .5s ease-out, rotate .5s ease-out, translate .5s ease-out, scale .5s ease-out, text-shadow .3s ease-out;
}

.appear-img {
  position: absolute;
  bottom: 30px;
  width: 100%;
  opacity: 0;
  rotate: x 0deg;
  translate: 0 40px;
  transform: translateZ(100px);
  scale: 1.1 1.2;
  transition: opacity .5s ease-out, rotate .5s ease-out, translate .5s ease-out;
}

.summoner:hover::before {
  opacity: 1;
  transition: opacity .3s .2s linear;
}

.text-img {
  position: absolute;
  width: 100%;
  bottom: 10px;
  rotate: x 0deg;
  translate: 0 0;
  transform: translateZ(100px);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  opacity: .6;
  letter-spacing: 4px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  transition: opacity .5s ease-out, rotate .5s ease-out, translate .5s ease-out, scale .5s ease-out, text-shadow .3s ease-out;
}


/* QUOTES */
.random-quotes {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  overflow: hidden;
}

.random-quotes .quote {
  position: relative;
  padding: 10px;
  font-size: 1.45rem;
  max-width: 700px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  font-family: Merriweather serif;
}

.random-quotes .quote::before {
  content: "\201F";
  font-size: 300px;
  color: red;
  top: -70px;
  left: -50px;
  position: absolute;
  opacity: 0;
  transition: opacity 1.8s ease-out;
}

.random-quotes .quote-author {
  font-size: .9rem;
  transform: scale(1.5, 1);
  opacity: 0;
  color: rgba(255, 0, 0, .6);
  transition: opacity 1.8s .3s ease-out;
  font-family: 'Bebas Neue', sans-serif;
}

.random-quotes .quote-line {
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  opacity: .2;
  transition: opacity 1.8s ease-out;
}

.random-quotes .top-line {
  width: 300px;
  margin-bottom: auto;
}

.random-quotes .bottom-line {
  width: 120px;
  margin-top: auto;
}

.random-quotes.animate .word {
  opacity: 1;
}

.random-quotes.animate .quote::before {
  opacity: .2;
}

.random-quotes.animate .quote-line {
  opacity: 1;
}

.random-quotes.animate .quote-author {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.word {
  opacity: 0;
}

.word.animate-1 {
  transition: opacity 1.8s ease-out;
}

.word.animate-2 {
  transition: opacity 1.8s .13s ease-out;
}

.word.animate-3 {
  transition: opacity 1.8s .2s ease-out;
}

.word.animate-4 {
  transition: opacity 1.8s .35s ease-out;
}

.word.animate-5 {
  transition: opacity 1.8s .48s ease-out;
}

.word.animate-6 {
  transition: opacity 1.8s .6s ease-out;
}

.credits {
  margin: 80px 0 0;
  font-size: 0.85em;
  opacity: .35;
  transition: opacity .3s ease-out;
  width: fit-content;
}

.credits:hover {
  opacity: 1;
}

.credits a:visited,
.credits a:active,
.credits a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
  cursor: pointer;
}